.item-box {
    width: 450px;
    height: auto;
    border-radius: 5px;
    margin: 1% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-220deg, #5cdb95, black 60%);
}
form{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.text-box {
    padding: 5px;
}
.update-button {
    background: black;
    font-size: 14px;
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 16px;
    border: 1px solid #5cdb95;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100%;
    color: #66fcf1;
    box-shadow: 0px 2px 2px black;
    cursor: pointer;
    transition: .2s;
}
.form-input {
    background: #8b8b8b;
    color: black;
    padding: 15px 0 15px 9px;
    border-radius: 5px 5px 5px 5px;
    width: 200px;
}