<div class="container-nav">
    <nav class="nav">
        <div class="container-text">
            <div class="static-text">Welcome to my project!</div>
        </div>
        <ul class="nav-links">
            <li><fa-icon [icon]="icon"></fa-icon><a routerLink="">Home</a></li>
            <li><fa-icon [icon]="list"></fa-icon><a routerLink="/products">Products</a></li>
            <li><fa-icon [icon]="plus"></fa-icon><a routerLink="/add-product">Add product</a></li>
        </ul>
    </nav>
</div>
